body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

h1,
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

header {
    width: 100%;
    background-color: yellow;
}

img {
    display: inline-block;
    height: 30px;
    width: auto;
    margin: 20px;
}

header li {
    float: right;
    margin-right: 140px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
}

.nav {
    float: right;
}

main {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    min-width: 400px;
    max-width: 1000px;
    border: 1px solid black;
}

footer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40px;
    background-color: #ddd;
    padding: 20px;
    font-size: 13px;
}

footer p {
    float: right;
    margin-right: 20px;
}

footer li {
    float: right;
    margin-right: 20px;
}

footer ul {
    margin-bottom: 20px;
}

.video {
    position: relative;
    height: 0;
    overflow: hidden;
    border: 1px solid black;
    padding-bottom: 56.25%;
    margin-bottom: 50px;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.signup {
    text-align: center;
}

.signup input {
    width: 250px;
    height: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.signup button {
    text-align: center;
    width: 140px;
    height: 30px;
    background-color: #f1c40f;
    font-weight: 900;
    text-transform: uppercase;
}

.signup button:hover {
    border: 1px solid dodgerblue;
}

.features-container {
    margin-top: 100px;
}

.feature h2 {
    display: inline;
}

.feature {
    margin-bottom: 70px;
    height: 50px;
    text-align: left;
    line-height: 20px;
    min-width: 400px;
}

.pricing {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.product {
    display: inline-block;
    border: 1px solid black;
    min-width: 250px;
    max-width: 250px;
    text-align: center;
    border-radius: 4px;
    border-color: grey;
    margin-left: 20px;
    margin-right: 20px;
}

.heading {
    background-color: #ddd;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px;
}

.price {
    font-weight: 900;
    font-size: 25px;
    padding: 15px;
}

.des {
    line-height: 30px;
}

.product button {
    margin: 15px;
    background-color: #f1c40f;
    font-weight: 800px;
    width: 100px;
    height: 30px;
    border: 1px solid transparent;
}

.product button:hover {
    background-color: orange;
    transition: background-color 1s;
}

@media only screen and (max-width: 900px) {
    .pricing {
        flex-direction: column;
        align-items: center;
    }
    .product {
        margin-bottom: 50px;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    header li {
        margin-right: 30px;
    }
    
    .nav {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }
    }
}